<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I have over 6 years of experience as a computer engineer, and have worked
            at startups working as freelancer (Upwork) and currently working at The Cooperative Legal Services as Software Developer. While I'm a proficient full-stack
            developer, my expertise is in building scalable backend services (API services, architecture,
            and async mechanisms).
        </p>
        <p>
           I love learning new things.
           While solving real customer problems are often intrinsically fun to tackle,
           I'm most attracted to hard engineering problems.
           I'm looking for a individual contributor role where I can take on on collaborative
           team leadership responsibilites, and gain experience with
           architecture and project management.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
				Payed relocation to Tampa, USA to migrate a monolithic ASP site to ASP.NET site with WEB API to service
				AngularJS frontend, hosted on Azure. 
				Leadership and management of developers for the project.
				Delivered on schedule, and currently working on fixes for site.
				</li>
				<li>
				Designed database architecture and model entities to mantain over 1m records and avoid deadlocks.
    			</li>
          <li>
            Participated on a JAVA platform for Boat Echosounder simlators, for fishings and marines schools in Argentina. 
			This took 3 years to be completed and was made for my degree of Computer Engineer.
          </li>
          <li>
            Worked in smaller websites doing fixes, using technologies as Devexpress, Matlab, Automation, Web Srapping and Penetration Testing.
    			</li>
    			<li>
            Knowledge of Ethical hacking and penetration test using intermediate proxies (such as Burpsuite) and OWASP ZAP.
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
    <div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h3 style="margin-top:0;">Books</h3>
				<ul>
					<li>
					Clean Code: A Handbook of Agile Software Craftsmanship Robert C. Martin
					</li>
					<li>
					Patterns of Enterprise Application Architecture Martin Fowler
					</li>
					<li>
					ASP.NET MVC 5 Jon Galloway, Brad Wilson, k. Scott Allen, David Matson
					</li>
					<li>
					Dependency Injection in .NET Mark Seemann
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
