<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Artificial Intelligence</b>. It's an exciting time for machine learning. I'm looking to take courses for IOT, Data mining.
			  </li>
			  <li>
				  <b>ASP.NET CORE</b>. I like the path Microsoft has took with ASP.NET, and I am currently updating my stack to work with this new framework, combined with Angular 6.
			  </li>
			  <li>
				  <b>Beach and wilderness time</b>. I live in the south of america, home of some of the greatest beaches and trails in the world. I enjoy spending weekends
          on beachs and getting lost in the woods running or trekking.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
          Docola is a digital health platform enabling providers to support patients with information & education throughout the care continuum.
    		</li>
  			<li>
          The technologies i used to develop the sites were: 
ASP.NET, MVC, C#, AngularJS, JQuery/Javascript, ASP.NET WEBAPI, SQL SERVER, Azure Portal, Azure media services, Azure storages, Azure Apps, Webjobs
  			</li>
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
				Volunteer at Sumo Conectivo, Mar del plata (2010)
  			</li>
  			<li>
  			  Active member NETCONF a .NET community for developers in Uruguay and Argentina.
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
